
<%= form_tag "/users/#{@user.id}", method: :patch do %>

<br/><br/>

<div class="row">
    <div class="col-sm-4">
        <div class="input-group">
            <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
            <div class="fg-line">
                    <input type="text" name="username" class="form-control" placeholder="User Name" value="<%= @user.username %>">
            </div>
        </div>

        <br/>

        <div class="input-group">
            <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
            <div class="fg-line">
                <input type="text" name="first_name" class="form-control" placeholder="First Name" value="<%= @user.first_name %>">
            </div>
        </div>

        <br/>

        <div class="input-group">
            <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
            <div class="fg-line">
                <input type="text" name="last_name" class="form-control" placeholder="Last Name" value="<%= @user.last_name %>">
            </div>
        </div>

        <br/>

        <div class="input-group">
            <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
            <div class="fg-line">
                <input type="text" name="email" class="form-control" placeholder="Email" value="<%= @user.email %>">
            </div>
        </div>

        <br/>

        <div class="input-group">
            <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
            <div class="fg-line">
                <input type="text" name="dob" class="form-control" placeholder="Date of Birth" value="<%= @user.dob %>">
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="input-group">
            <div class="fg-line">
                <input type="text" name="gender" class="form-control" placeholder="Gender" value="<%= @user.gender %>">
            </div>
            <span class="input-group-addon last"><i class="zmdi zmdi-male-female"></i></span>
        </div>

        <br/>

        <div class="input-group">
            <div class="fg-line">
                <input type="text" name="address_1" class="form-control" placeholder="Address 1" value="<%= @user.address_1 %>">
            </div>
            <span class="input-group-addon last"><i class="zmdi zmdi-home"></i></span>
        </div>

        <br/>

        <div class="input-group">
            <div class="fg-line">
                <input type="text" name="address_2" class="form-control" placeholder="Address 2" value="<%= @user.address_2 %>">
            </div>
            <span class="input-group-addon last"><i class="zmdi zmdi-home"></i></span>
        </div>

        <br/>

        <div class="input-group">
            <div class="fg-line">
                <input type="text" name="state" class="form-control" placeholder="State" value="<%= @user.state %>">
            </div>
            <span class="input-group-addon last"><i class="zmdi zmdi-home"></i></span>
        </div>

        <br/>

        <div class="input-group">
            <div class="fg-line">
                <input type="text" name="city" class="form-control" placeholder="City" value="<%= @user.city %>">
            </div>
            <span class="input-group-addon last"><i class="zmdi zmdi-home"></i></span>
        </div>

    </div>

    <div class="col-sm-4">
        <div class="input-group">
            <span class="input-group-addon"><i class="zmdi zmdi-arrow-missed"></i></span>
            <div class="fg-line">
                <input type="text" name="zipcode" class="form-control" placeholder="Zipcode" value="<%= @user.zipcode %>">
            </div>
            <span class="input-group-addon last"><i class="zmdi zmdi-home"></i></span>
        </div>

        <br/>

        <div class="input-group">
            <span class="input-group-addon"><i class="zmdi zmdi-money"></i></span>
            <div class="fg-line">
                <input type="text" name="phone_number" class="form-control" placeholder="Phone Number" value="<%= @user.phone_number %>">
            </div>
            <span class="input-group-addon last"><i class="zmdi zmdi-phone"></i></span>
        </div>

        <br/>

        <div class="input-group">
            <span class="input-group-addon"><i class="zmdi zmdi-mail-send"></i></span>
            <div class="fg-line">
                <input type="text" name="education" class="form-control" placeholder="Education" value="<%= @user.education %>">
            </div>
            <span class="input-group-addon last"><i class="zmdi zmdi-account"></i></span>
        </div>

        <br/>

        <div class="input-group">
            <span class="input-group-addon"><i class="zmdi zmdi-portable-wifi"></i></span>
            <div class="fg-line">
                <input type="text" name="profession" class="form-control" placeholder="Profession" value="<%= @user.profession %>">
            </div>
            <span class="input-group-addon last"><i class="zmdi zmdi-account"></i></span>
        </div>

        <br/>

         <div class="input-group">
            <span class="input-group-addon"><i class="zmdi zmdi-portable-wifi"></i></span>
            <div class="fg-line">
                <input type="text" name="organization" class="form-control" placeholder="Organization" value="<%= @user.organization %>">
            </div>
            <span class="input-group-addon last"><i class="zmdi zmdi-account"></i></span>
        </div>
    </div>
</div>

<br/><br/>

<button class="btn palette-Teal bg button-margin" type="submit" name="Update">Update</button>
<% end %>

<br/>
<br/>
<div>
    <%= form_tag "/membership", method: :post do %>
    <div class="row">
        <div class="col-sm-4">
            <div class="input-group fg-float">
                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                <div class="fg-line">
                    <input type="text" name="name" class="form-control">
                    <label class="fg-label">Gym/Health Club</label>
                </div>
            </div>
            <button class="btn palette-Teal bg button-margin" type="submit" name="Update">Update</button>
        </div>
    <% end %>
    <%= form_tag "/activity", method: :post do %>
        <div class="col-sm-4">
            <div class="input-group fg-float">
                <div class="fg-line">
                    <input type="text" name="name" class="form-control">
                    <label class="fg-label">Activity/Sport</label>
                </div>
                <span class="input-group-addon last"><i class="zmdi zmdi-account"></i></span>
            </div>
            <button class="btn palette-Teal bg button-margin" type="submit" name="Update">Update</button>
        </div>
        <div class="col-sm-4">   
        </div>
    </div>
    <% end %>
</div>

<br/>
<br/>
<br/>

