<div class="card" id="profile-main">
    <div class="pm-overview c-overflow">
    <div class="pmo-pic">
        <div class="p-relative">
            <a href="">
               
            </a>
            <% if @user == current_user %>
            <a href="" class="pmop-edit">
                <%= form_tag "/photos", method: :post, multipart: true do %>

                  <div>
                  
                    <%= file_field_tag :image %>
                  </div>

                <span class="hidden-xs">Update Profile Picture</span>
                  <i class="zmdi zmdi-camera"></i> <%= submit_tag 'Update' %>
                <% end %>
                <% end %>
            </a>
              <% if @user && !@user.photos.empty? %>
                 <%= image_tag(@user.photos.first.image) %>
                <% end %>
        </div>


        <div class="pmo-stat">
            <h2 class="m-0 c-white"><%= @user.full_name %></h2>
            <%= @user.profession %>, <%= @user.organization %>
        </div>
    </div>


    <div class="pmo-block pmo-contact hidden-xs">
        <h2>Contact</h2>

        <ul>
            <li><i class="zmdi zmdi-phone"></i><%= @user.phone_number %></li>
            <li><i class="zmdi zmdi-email"></i> <%= @user.email %></li>
            <li><i class="zmdi zmdi-pin-account"></i> <%= @user.username %></li>
            <li><i class="zmdi zmdi-assignment"></i> <%= @user.dob %></li>
            <li>
                <i class="zmdi zmdi-pin"></i>
                <address class="m-b-0 ng-binding">
                    <%= @user.address_1 %>,
                    <%= @user.address_2 %><br>
                    <%= @user.city %>,
                    <%= @user.state %>
                   <!--  <%= @user.memberships %>
                    <%= @user.activities %> -->

                </address>
            </li>
        </ul>
    </div>

    <div class="pmo-block pmo-items hidden-xs">
        <div class="pmob-body">
            <h2>Connections</h2>
            <% @user.friends.each do |friend| %> 
            <div class="row">
                <a href="" class="col-xs-2">
                    <img class="img-circle" data-src="<%= friend.photos.first.image.url %>" alt="">
                </a>
               
                <% end %>
                <% unless current_user == @user %>
                <%= link_to "Add Friend", friendships_path(:friend_id => @user), :method => :post %>
                <% end %>
        </div>






        </div>
    </div>
</div>

<div class="pm-body clearfix">
    <ul class="nav nav-tabs tn-justified">
        <li class="active waves-effect"><a href="#feed" data-toggle="tab" >Feed</a></li>
        <li class="waves-effect"><a href="#fitnessdata" data-toggle="tab" >Fitness Data</a></li>
        <li class="waves-effect"><a href="#photos" data-toggle="tab" >Photos</a></li>
    </ul>
      <div class="tab-content">
        <div id="feed" class="tab-pane fade in active">
          <div>

            <div ng-app="app">
            <div ng-controller="wallCtrl" ng-init="setup()">
            <div ng-repeat="post in posts">
                <div>{{ post.body }}</div>
                <div>{{ post.photo }}</div>
                <div>{{ post.url }}</div>
             <% if @user == current_user %>   
            <div>
                <button ng-click="killPost(post)">Kill this Post</button>
            </div>
            <% end %>
         </div>
            <% if @user == current_user  %>
            <ul>
              <li ng-repeat="error in errors">{{ error }}</li>
            </ul>
            <p>Body: <input ng-model="inputBody"></p>
            <p>Photo: <input ng-model="inputPhoto"></p>
            <p>URL: <input ng-model="inputUrl"></p>
            <button ng-click="addPost(inputBody, inputPhoto, inputUrl)">Add Post</button>
            <% end %>
          </div>
        </div>
      </div>

          
        </div>
        <div id="fitnessdata" class="tab-pane fade">
          <h3>Data</h3>
          <div>
          The chart is here:
          <div class="ct-chart1 ct-perfect-fourth chart-width1" id="chart1"></div>
          <div class="ct-chart2 ct-perfect-fourth chart-width2" id="chart2"></div>
        
          </div>
        </div>
        <div id="photos" class="tab-pane fade">
          <h3>Photos</h3>
          <div>
            <div class="pmb-block clearfix photos">
            <div class="p-header">
            <ul class="p-menu">
                
            <% if @user == current_user %>

                <li class="active"><a href=""><i class="zmdi zmdi-image"></i>Add Photos</a></li>
                


                <a href="" class="pmop-edit">
                <%= form_tag "/photos", method: :post, multipart: true do %>

                  <div>
                  
                    <%= file_field_tag :image %>
                  </div>

                <span class="hidden-xs">Updload</span>
                  <i class="zmdi zmdi-camera"></i> <%= submit_tag 'Update' %>
                <% end %>
                <% end %>
                </a>
            

            </ul>

       <div>

        <% @user.photos.each do |photo| %>   
        <div class="lightbox">
            <div data-src="<%= photo.image.url %>" class="col-md-3 col-sm-4 col-xs-6 photo-height">
                <div class="lightbox-item p-item">
                    <%= image_tag(photo.image.url) %>
                </div>
            </div>
        </div>
     <% end %>
        </div>
        <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

